/Mavenproject/MostiSoftware/target/classes/.gitignore

/Mavenproject/MostiSoftware/target/test-classes/.gitignore

/Mavenproject/MostiSoftware/target/test-classes/
/Mavenproject/MostiSoftware/target/classes/


